body {
  margin: 0;
}

.logo-container {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-60%);
  z-index: 1000;
}

.logo {
  padding-top: 15px;
  max-width: 100px;
  height: auto;
}

@media (max-width: 768px) {
  .logo {
    max-width: 60%;
  }
}